*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background: rgb(221, 224, 241);
}
.wave {
    position: absolute;
    top: 0;
    left: 50%;
    width: 800px;
    height: 800px;
    margin-top: -600px;
    margin-left: -400px;
    background: rgb(62, 124, 139);
    border-radius: 40%;  
    animation: shift 20s infinite infinite;
    z-index: 0;
  }

 .navbar{
     display: flex;
     align-items: center;
     padding: 20px;
     background: black;
     animation: shift 20s infinite infinite;
 }
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: white;
}
p{
    color: rgb(22, 23, 24);
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid #ff523b;
    padding: 5px;
}
select:focus{
    outline: none;
}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span {
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background: #ff523b;
    color: #fff;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn{
    display: inline-block;
    background: rgb(141, 62, 124);
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn:hover{
    background: #bc93c0;
}

.header{
    background: radial-gradient(rgb(232, 185, 238) #e7c1e7);
}

.categories{
    margin: 70px 0;
}

.col-3{
    flex-basis:20%;
    min-width: 20px;
    margin-bottom: 20px;
}

.small-container{
    max-width: 1500px;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img{
    width: 100%;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: rgb(46, 42, 42);
}
 .title::after{
     content:'';
     background: rgb(37, 21, 51);
     width: 50px;
     height: 5px;
     border-radius: 5px;
     position: absolute;
     bottom: 0;
     left: 50%;
     transform: translateX(-50%);
}
h4{
    color: rgb(16, 16, 29);
    font-weight: normal;
}

.col-4 p{
    font-size: 14px;


}
.col-4:hover{
    transform: translateY(-5px);
}

/*-------offer------*/
.offer {
    background: radial-gradient(rgb(232, 185, 238) #e7c1e7);
    margin-top: 80px;
    padding: 30px 0px;
}
.col-2 .offer-img{
    padding: 90px;
}
small{
color: rgb(89, 89, 119);
}

/*------single product details-------*/
.single-product{
    margin-top: 80px;
}
.single-product .col-2 img{
    padding: 0;
}
.single-product .col-2{
    padding: 20px;
}
.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}
input:focus{
    outline: none;
}
.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

/*------------- brands -------------*/
.brands{
    margin: 100px auto;
}
.col-5{
    width: 160px;
}
.col-5{
    cursor: pointer;
}   
.col-5 img:hover{
    filter: grayscale(100);
}
.col-5 a{
    color: black;
    font-weight: bold;
}

/*-------footer---------*/
.footer{
    background: black;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: chartreuse;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
    font-size: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 10%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
    color: chartreuse;
}
.footer-col-2 img{
    width: 180px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
    color: chartreuse;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer  hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}



/*--------Cart items--------*/

.cart-page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
.cart-info p{
    display: none;
}
th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #000000;
    font-weight: normal;
}


td{
    padding: 10px 5px;
}

td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: #000000;
    font-size: 12px;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}

.total-price table{
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 350px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}

/*--------About--------*/
.h1{
margin: 20px;
text-align: center;
}

.body{

    height: 500px;
    text-align: center;
}

/*--------Contact--------*/
.contacto{
    text-align: center;

}